<footer id="main-footer" class="py-1 shadow-lg">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 col-sm-12 text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h6 class="my-0">Feedback</h6>
          <p class="my-0">Got some feedback for me?</p>
          <a class="btn btn-sm btn-primary text-light shadow" routerLink="/contact">Let me know</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h6 class="my-0">Connect with me</h6>
          <a href="https://www.facebook.com/deej.potter.7/" target="_blank">
            <span class="bi bi-facebook fs-3" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h6 class="my-0">Policies</h6>
          <a routerLink="/privacy" class="text-muted">Privacy policy</a>
          <a routerLink="/terms" class="text-muted">Terms and conditions</a>
        </div>
      </div>
    </div>
  </div>
</footer>
