<footer id="main-footer" class="py-1 shadow-lg">
  <div class="container">
    <div class="row">
      <div class="col-md py-1 text-center">
        <h3>Feedback</h3>
        <p>Got some feedback for me?</p>
        <a class="btn btn-primary text-light shadow" routerLink="/contact">Let me know</a>
      </div>
      <div class="col-md py-1 text-center">
        <h3>Connect with me</h3>
        <a href="https://www.facebook.com/deej.potter.7/" target="_blank">
          <span class="bi bi-facebook fs-1" aria-hidden="true"></span>
        </a>
      </div>
      <div class="col-md py-1 text-center">
        <h3>Policies</h3>
        <a routerLink="/privacy">Privacy policy</a>
        <br>
        <a routerLink="/terms">Terms and conditions</a>
      </div>
    </div>
  </div>
</footer>
