.navbar-brand img {
  height: 2.5rem;
}

.nav-link {
  cursor: pointer;
  align-content: center;
}

.dropdown-menu {
  background: rgb(30, 153, 82);
  background: linear-gradient(180deg, rgba(30, 153, 82, 0) 0%, rgba(30, 153, 82, 1) 10%, rgba(30, 153, 82, 0.95) 65%, rgba(253, 253, 253, .8) 100%);
  margin-top: -0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 10px 1px 0 rgba(100, 100, 100, 0.1);
  border: none;
}

.dropdown-item:hover {
  background: linear-gradient(-40deg, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, .01) 20%, rgba(253, 253, 253, .2) 100%);
}

.navbar-toggler {
  font-size: 1.25rem;
  transition: transform 0.3s ease;

  &.collapsed {
    transform: rotate(0);
  }

  &:not(.collapsed) {
    transform: rotate(180deg);
  }
}
