@import "@/styles/bootstrap-overrides";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  padding: 0.5rem 1rem;

  @media (min-width: 769px) {
    padding: 0.5rem 10vw;
  }

  &Brand {
    flex-grow: 1;
    max-width: 4rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &Toggler {
    border: none;
    background: none;
    font-size: 2rem;
    display: block;

    @media (min-width: 769px) {
      display: none;
    }
  }

  &Collapse {
    display: none;
    position: relative;

    @media (min-width: 769px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &Show {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 100%;
      background-color: $primary;
      align-items: flex-start;
      padding: 1rem;

      @media (min-width: 769px) {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .navLink,
    .navItem {
      padding: 0.5rem 1rem;
      color: $light;
      text-align: left;

      &:hover {
        color: lighten($primary, 10%);
      }

      @media (min-width: 769px) {
        padding: 0.5rem 1rem;
      }
    }
  }
}
