<main class="container py-4">
  <div class="row">
    <div class="col-md">
      <h2>Have some questions or feedback for me?</h2>
      <p>Fill in the form with your info and I'll get back to you as soon as I can. I promise I'll only use this
        information to contact you about your feedback, I won't share it with anyone or use it for any other reason.</p>
    </div>
    <div class="col-md">
      <form name="contact" method="post" class="card shadow p-2 bg-secondary text-light" netlify netlify-honeypot="bot-field">
        <div class="form-group" hidden>
          <label for="bot-field">Don't fill this out if you're human:</label>
          <input type="text" id="bot-field" name="bot-field">
        </div>
        <input type="hidden" name="form-name" value="contact">
        <div class="form-group pb-2">
          <label for="message">Enter Message (required):</label>
          <textarea required="true" minlength="2" id="message" class="form-control shadow" name="message"></textarea>
        </div>
        <div class="form-group pb-2">
          <label for="email">Enter your email address <br>(optional - if you want a reply):</label>
          <input required="true" type="email" id="email" class="form-control shadow" name="email">
        </div>
        <div class="form-group pb-2">
          <button class="btn btn-info shadow" type="submit">Submit form</button>
        </div>
      </form>
    </div>
  </div>
</main>
