@import "@/styles/bootstrap-overrides";

.navItem {
  position: relative;

  &:hover .dropdownMenu, // Show on hover
  &.open .dropdownMenu { // Show on click
    display: block;
  }

  .navLink {
    color: $light;
    cursor: pointer;
    display: block;
    padding: 0.5rem 1rem;

    &:hover {
      color: lighten($primary, 10%);
    }
  }

  .dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: $secondary;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000;

    .dropdownItem {
      padding: 0.5rem 1rem;
      color: $light;
      text-decoration: none;
      display: block;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: lighten($secondary, 5%);
      }
    }
  }
}
