$main: #26BF66;
$light-accent: #59B7CC;
$dark-accent: #7A616C;
$light: #F4EFF2;
$dark: #181821;

$heading-font: 'Lemonada', cursive;
$body-font: 'Montserrat', sans-serif;

$bottom-margin: 0 0 15px 0;
$bigger-margin: 0 0 30px 0;
$box-shadow: 4px 4px 8px 0px #18182133;
$box-shadow-top: 0 0 8px 0px #18182133;
$box-shadow-inset: inset 0px 1px 4px 1px #181821;
$default-radius: 8px;