<div *ngIf="!authService.isAuthenticated()" class="navbar-nav">
  <div class="nav-item">
    <button (click)="onLogin()" class="btn btn-sm btn-outline-secondary shadow mx-1">Login</button>
    <button (click)="onSignup()" class="btn btn-sm btn-outline-secondary shadow">Sign up</button>
  </div>
</div>

<div *ngIf="authService.isAuthenticated()" class="nav-item">
  <div class="d-flex align-items-center">
    <img ngxGravatar [email]="currentUser?.email || ''" [size]="32" class="rounded-circle mx-1" alt="The logged in user's Gravatar.">
    <button (click)="onLogout()" class="btn btn-sm btn-outline-danger shadow">Logout</button>
  </div>
</div>
