// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

/* Pass typography into mat.core so type rules are only imported once */
$deejpotter-base-font: mat.define-typography-level(
  $font-size: 1rem,
  $line-height: 1,
  $font-weight: 400,
  $font-family: (
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$deejpotter-light-font: mat.define-typography-level(
  $font-size: 0.9rem,
  $line-height: 1,
  $font-weight: 200,
  $font-family: (
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$deejpotter-bold-font: mat.define-typography-level(
  $font-size: 1rem,
  $line-height: 1,
  $font-weight: 700,
  $font-family: (
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$deejpotter-h1-font: mat.define-typography-level(
  $font-size: 2rem,
  $line-height: 1.5,
  $font-weight: 400,
  $font-family: (
    'Fredoka One',
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$deejpotter-h2-font: mat.define-typography-level(
  $font-size: 1.5rem,
  $line-height: 1.5,
  $font-weight: 400,
  $font-family: (
    'Fredoka One',
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$deejpotter-h3-font: mat.define-typography-level(
  $font-size: 1.3rem,
  $line-height: 1.5,
  $font-weight: 400,
  $font-family: (
    'Fredoka One',
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$deejpotter-h4-font: mat.define-typography-level(
  $font-size: 1.2rem,
  $line-height: 1.5,
  $font-weight: 400,
  $font-family: (
    'Fredoka One',
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$deejpotter-h5-font: mat.define-typography-level(
  $font-size: 1.1rem,
  $line-height: 1.5,
  $font-weight: 400,
  $font-family: (
    'Fredoka One',
    'Nunito',
    Roboto,
    sans-serif,
  ),
  $letter-spacing: normal,
);

$custom-typography: mat.define-typography-config(
  $headline: $deejpotter-h1-font,
  $title: $deejpotter-h2-font,
  $subheading-2: $deejpotter-h3-font,
  $subheading-1: $deejpotter-h4-font,
  $body-1: $deejpotter-base-font,
  $body-2: $deejpotter-bold-font,
  $caption: $deejpotter-light-font,
  $button: $deejpotter-bold-font,
  $input: $deejpotter-base-font,
  $display-4:
    mat.define-typography-level(
      112px,
      112px,
      400,
      ('Fredoka One', 'Nunito', Roboto, sans-serif),
      -0.05em
    ),
  $display-3:
    mat.define-typography-level(
      56px,
      56px,
      400,
      ('Fredoka One', 'Nunito', Roboto, sans-serif),
      -0.02em
    ),
  $display-2:
    mat.define-typography-level(
      45px,
      48px,
      400,
      ('Fredoka One', 'Nunito', Roboto, sans-serif),
      -0.005em
    ),
  $display-1:
    mat.define-typography-level(
      34px,
      40px,
      400,
      ('Fredoka One', 'Nunito', Roboto, sans-serif)
    ),
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$deejpotter-primary: mat.define-palette(mat.$green-palette);
$deejpotter-accent: mat.define-palette(mat.$light-blue-palette);

// The warn palette is optional (defaults to red).
$deejpotter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$deejpotter-theme: mat.define-light-theme(
  (
    color: (
      primary: $deejpotter-primary,
      accent: $deejpotter-accent,
      warn: $deejpotter-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($deejpotter-theme);
