/* Globals */

body {
  margin: 0;
  font-family: 'Nunito', Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka One', 'Nunito', sans-serif;
}

/* Utilities */

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

/* Sections */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}
