<app-contact-form></app-contact-form>

<!--
<section class="">
  <div class="col-md">
    <h2>If you have any questions or comments let me know below</h2>
    <p>I need some information from you to get in contact. I promise I'll only use this information to email
      you about your project, I won't share it with anyone or use it for any other reason.</p>
  </div>
  <form id="contact-page-form" name="emailform" netlify>
    <mat-form-field appearance="standard">
      <mat-label>Enter Name: </mat-label>
      <input matInput placeholder="Placeholder" class="class.mat-elevation-z2" type="text" name="name" id="name">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Enter Email Address:</mat-label>
      <input matInput class="class.mat-elevation-z2" type="text" name="email" id="email">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Enter Message (optional):</mat-label>
      <textarea matInput class="form-control class.mat-elevation-z2" name="message" id="message"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="submit-button" mat-raised-button color="primary" type="submit" name='submit' value="Contact me">
    </mat-form-field>
  </form>
</section>
-->
