nav {}

.header {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 3rem;
}

.container-nav {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links-hidden {
    display: none;
    flex-direction: column;
    align-items: center;
}

.nav-link-text {
    color: var(--green);
    font-size: 1.1rem;
}

.nav-link-item {
    list-style: none;
}

.menu-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 1rem;
    font-family: var(--font-family-display);
    font-weight: 100;
    background-color: var(--green);
    border-style: none;
    border-radius: var(--default-radius);
    box-shadow: var(--box-shadow-inset);
}

@media screen and (min-width: 500px) {
    .container-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        padding: .5rem;
        margin: auto;
    }

    .nav-links, .nav-links-hidden {
        display: flex;
        flex-direction: row;

    }

    .nav-link-item {
        margin-right: 1rem;
    }

    .menu-button {
        display: none;
    }
}