.header {
    box-shadow: var(--box-shadow);
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: .5rem;
    margin: auto;
}

.nav-links {
    display: flex;
    justify-content: end;
}

.nav-link-item {
    list-style: none;
    padding-right: 1rem;
}

.nav-link-text {
    color: var(--green);
    font-size: 1.1rem;
}