.hero-section {
    background-image: url("../images/blackWaveBottom.svg");
    background-color: var(--green);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-width: var(--breakpoint-md);
    margin: auto;
    padding: 2rem;
}

.container-hero a {
    background-color: var(--dark);
    padding: .6rem;
    border-radius: .5rem;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    z-index: 1;
}