.light-section {
    display: flex;
    position: relative;
    padding: 1rem;
}

.container-light-section {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    margin: auto;
    padding: 2rem;
    background-color: var(--light);
    border-radius: var(--default-radius);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.light-section img {
    height: 30rem;
    position: absolute;
    top: -40%;
    right: 0%;
    z-index: 0;
}