.container {
    display: flex;
    flex-direction: column;
    max-width: var(--breakpoint-md);
    margin: auto;
}

.container-center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--breakpoint-md);
    text-align: center;
    margin: auto;
}