<div class="col-md">
  <div>
    <h2>My Passion for Technology</h2>
    <p>I have always had a love for technology. From a young age, I was interested in learning about all kinds of
      electronic devices. I grew up with the internet and have spent a lot of time learning about how it works. I enjoy
      sharing my knowledge with others and am happy to help when I can, especially if it allows me to practice my
      skills.</p>
    <h2>A Love of Learning</h2>
    <p>I completed a certificate in IT in 2013, but much of what I know about web design has been self-taught. The rules
      and practices in web design are constantly changing, so it's important for a good web developer to be constantly
      learning and adapting. I have also used online courses, such as LinkedIn Learning, to learn about business,
      technology, and design.</p>
    <h2>The Importance of Family</h2>
    <p>My family is very important to me. I am married and have three children. If I have any free time, I enjoy making
      and playing video games, as well as learning about science and philosophy.</p>
    <p>Most of the time when I'm not working, I'm studying to improve my skills as a web developer because there is
      always more to learn.</p>
    <h2>Helping Others</h2>
    <p>If you have any other questions about me, don't hesitate to reach out. I'd be happy to answer them. Just click
      the button below to contact me.</p>
    <a class="btn btn-primary shadow" routerLink="contact">Contact me</a>
  </div>
</div>
