@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/blog";

/*--------- Base Styles ---------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fredoka);
}

body {
  font-family: var(--font-nunito);
}

a {
  text-decoration: none;
}

/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1e9952 #181821;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #181821;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1e9952;
  border-radius: 4px;
  border: 2px solid #181821;
}
/* stylelint-enable selector-class-pattern */
