//Mine
@import "@/styles/bootstrap-overrides";
@import "@/styles/custom-gradients";

// Default
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/open-iconic/font/css/open-iconic-bootstrap.css";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

/*--------- Base Styles ---------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fredoka);
  font-weight: 700;
}

body {
  font-family: var(--font-nunito);
}

// Override bootstrap font classes
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: var(--font-fredoka);
  font-weight: 700;
}

a {
  text-decoration: none;
}

/*--------- Bootstrap transitions ---------*/

// Add hover effects and transition to all buttons
.btn {
  transition: all 0.3s ease;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);

  &:hover {
    color: #fff;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  }
}

/*--------- Utils ---------*/

// Custom scrollbar

.custom-scrollbar::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $light;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: darken($primary, 10);
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: $light;
}

/* For Firefox */
.scroll-container {
  scrollbar-color: $light $primary;
  scrollbar-width: thin;
}

/*--------- Animations ---------*/
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
