	 <!-- Main footer for every page -->
     <footer id="main-footer" class= "py-3">	
		<div class="container">
			<div class="row">
				<div class= "col-md">
					<h3>Feedback</h3>
					<p>Got some feedback for me?</p>
					<a class= "btn btn-primary shadow" href= "/contact">Let me know</a>
				</div>
				<div class= "col-md text-center">
					<h3>Connect with me</h3>
					<a href= "https://www.facebook.com/deejpotterdesigns/">
						<i class="fab fa-facebook"></i>
					</a>
				</div>
				<div class= "col-md text-right">
					<h3>Policies</h3>
					<a href= "/about/privacy-policy">Privacy policy</a>
					<br>
					<a href= "/about/terms">Terms and conditions</a>
				</div>
			</div>
		</div>
	</footer>
	
  </body>
</html>