<nav class="navbar navbar-expand-md bg-primary shadow">
  <!-- Navbar brand -->
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/deejPotterLogo.svg" alt="The Deej Potter logo.">
    </a>

    <!-- Toggle Button -->
    <button (click)="ToggleNavMenu()" class="navbar-toggler" type="button">
      <span class="oi oi-menu"></span>
    </button>

    <!-- Nav -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav nav-fill">
        <div class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="CloseNavMenu()">
            <span class="oi oi-person" aria-hidden="true"></span> About me
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/projects" (click)="CloseNavMenu()">
            <span class="oi oi-project" aria-hidden="true"></span> Projects
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/contact" (click)="CloseNavMenu()">
            <span class="oi oi-phone" aria-hidden="true"></span> Contact me
          </a>
        </div>
      </div>
      <app-auth></app-auth>
    </div>
  </div>
</nav>
