<nav class="navbar navbar-expand-md bg-primary shadow">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img ngSrc="/assets/images/deejPotterLogo.svg" alt="The Deej Potter logo." height="128" width="128">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavMenu()">
      <span class="oi oi-menu"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav nav-fill">
        <li class="nav-item dropdown" [class.show]="isProjectsDropdownOpen">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleProjectsDropdown()">Projects</a>
          <div class="dropdown-menu" [@dropdownAnimation]="isProjectsDropdownOpen ? 'visible' : 'hidden'">
            <a class="dropdown-item" routerLink="/projects/apps" (click)="closeNavMenu()">Apps</a>
            <a class="dropdown-item" routerLink="/projects/websites" (click)="closeNavMenu()">Websites</a>
            <a class="dropdown-item" routerLink="/projects/games" (click)="closeNavMenu()">Games</a>
          </div>
        </li>
        <li class="nav-item dropdown" [class.show]="isAppsDropdownOpen">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleAppsDropdown()">Apps</a>
          <div class="dropdown-menu " [@dropdownAnimation]="isAppsDropdownOpen ? 'visible' : 'hidden'">
            <a class="dropdown-item" routerLink="/projects/apps/todo" (click)="closeNavMenu()">Todo List</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="closeNavMenu()">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" (click)="closeNavMenu()">Contact me</a>
        </li>
        <app-auth></app-auth>
      </ul>
    </div>
  </div>
</nav>
