<nav class="navbar navbar-expand-md bg-primary shadow">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img ngSrc="/assets/images/deejPotterLogo.svg" alt="The Deej Potter logo." height="128" width="128">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavMenu()">
      <span class="oi oi-menu"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav nav-fill">

        <li class="nav-item dropdown" [class.show]="isFunDropdownOpen">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleFunDropdown()">Fun stuff</a>
          <div class="dropdown-menu" [@dropdownAnimation]="isFunDropdownOpen ? 'visible' : 'hidden'">
            <a class="dropdown-item" routerLink="/fun/todo" (click)="closeNavMenu()">Todo List</a>
            <a class="dropdown-item" routerLink="/fun" (click)="closeNavMenu()">Fun</a>
          </div>
        </li>

        <li class="nav-item dropdown" [class.show]="isGamesDropdownOpen">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleGamesDropdown()">Games</a>
          <div class="dropdown-menu " [@dropdownAnimation]="isGamesDropdownOpen ? 'visible' : 'hidden'">
            <a class="dropdown-item" routerLink="/games" (click)="closeNavMenu()">Games</a>
          </div>
        </li>

        <li class="nav-item dropdown" [class.show]="isWebsitesDropdownOpen">
          <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleWebsitesDropdown()">Websites</a>
          <div class="dropdown-menu " [@dropdownAnimation]="isWebsitesDropdownOpen ? 'visible' : 'hidden'">
            <a class="dropdown-item" routerLink="/websites" (click)="closeNavMenu()">Websites</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="closeNavMenu()">About me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" (click)="closeNavMenu()">Contact me</a>
        </li>

        <app-auth></app-auth>

      </ul>
    </div>
  </div>
</nav>
