<div class="navbar navbar-expand-md">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="">
      <img src="../../../assets/images/deejPotterLogoOriginal.svg" alt="The Deej Potter logo.">
    </a>

    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" (click)="ToggleNavMenu()">
      <span class="oi oi-menu"></span>
    </button>

    <!-- Navbar links -->
    <div class="{{NavMenuCssClass}} navbar-collapse" (click)="ToggleNavMenu()">
      <nav class="navbar-nav nav-fill ml-auto">
        <div class="nav-item">
          <a class="nav-link" routerLink="/">
            <span class="oi oi-home" aria-hidden="true"></span> Home
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/about">
            <span class="oi oi-person" aria-hidden="true"></span> About
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/portfolio">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Portfolio
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
