.sidenav-container {
  height: 100%;
}

.sidenav {
  width: auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Padding for main content */
.container {
  padding: 1rem;
  margin: auto;
  max-width: 1000px;
  min-height: 70vh;
}

.main-logo {
  height: 100%;
}

.main-logo img {
  height: 90%;
}
